<?xml version="1.0"?>

<robot name="firefly_bot" xmlns:xacro="http://ros.org/wiki/xacro">


  <arg name="mav_name" default="firefly"/>
  <arg name="namespace" default="$(arg mav_name)"/>


  <arg name="tf_prefix" default="$(optenv ROS_NAMESPACE)"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.1"/>
  <arg name="enable_logging" default="false"/>
  <arg name="enable_ground_truth" default="true"/>
  <arg name="log_file" default="$(arg mav_name)"/>
  <arg name="wait_to_record_bag" default="false"/>
  <arg name="enable_mavlink_interface" default="false"/>


  <!-- Instantiate the mav with a generic odometry sensor. -->
  <xacro:include filename="$(find rotors_description)/urdf/mav_generic_odometry_sensor.gazebo" />

  <xacro:include filename="$(find rotors_description)/urdf/realsense_components.xacro" />

  <!-- Mount a Realsense-Sensor in front of the Firefly. -->
  <xacro:realsense_sensor_macro
    namespace="${namespace}/realsense"
    parent_link="${namespace}/base_link"
    enable_cameras="true"
    enable_depth="true"
    enable_ground_truth="false">
    <origin xyz="0.1 0.0 -0.03" rpy="0.0 0.1 0.0" />
  </xacro:realsense_sensor_macro>


</robot>
